body {
    background-color: rgb(225, 225, 225);
}

header {
    font-family: Journalism;
}

section {
    font-family: Georgia;
}

footer {
    font-family: Journalism;
}

.navbar {
    font-size: 35px;
    padding-top: 15px;
}

.d-flex {
    width: 6em;
    height: 50px;
    font-size: 2em;
}

.btn.btn-outline-success {
    background-color: rgb(225, 225, 225);
    border-color: black;
    color: black;
    height: 50px;

}

.navbar-brand>img {
    width: 150px;
    margin-bottom: 15px;
    padding-left: 20px;
}

.day {
    padding: 6px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    background: #f2f2f2;
}

.day:hover {
    background: #028E9B;
}

.knop{
    background: #028E9B;
    border-radius: 5px;
    border-color: #49696d;
}

.knop:hover {
    background: #49696d;
    border-color: #028E9B;
}

.deadline-day {
    background: #028E9B;
    color: white;
    font-weight: bold;
}

.sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: #49696d;
    border: solid 2px;
    height: 60px;
    border-color: rgb(141, 225, 250);
    margin-bottom: 30px;
}

.sidebar:hover {
    background-color: #028E9B;
    border-color: #49696d;
}

.sidebar>a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 10px;
    font-size: 17px;
}

.sidebarb {
    display: flex;
    text-align: center;
    align-items: center;
    border-radius: 15px;
    background-color: #49696d;
    border: solid 2px;
    height: 100px;
    border-color: rgb(141, 225, 250);
    margin-bottom: 30px;
}

.sidebarb:hover {
    background-color: #028E9B;
    border-color: #49696d;
}

.sidebarb>a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 10px;
    font-size: 17px;
}

.caption-below {
    padding: 15px;
    text-align: center;
    font-family: Georgia;
    font-size: 1rem;
}

.carousel-item>img {
    padding-top: 30px;
    object-fit: contain;
    width: auto;
    max-width: 100%;
    height: 700px;
    display: block;
    margin-left: 0;
    margin-right: auto;
}

.btn-secondary {
    color: black;
    border-radius: 40px;
    background-color: #028E9B;
    padding: 20px;
    text-decoration: none;

}

.footer-text {
    font-size: 25px;
    background-color: #49696d;
    border-top: solid 1px;
    text-decoration: none;
    color: black;
}

.text {
    text-decoration: none;
    color: black;
}

.text:hover {
    color: #028E9B;
}

